:root {
    --primary-color: #6272a4;
    --secondary-color: #50fa7b;
    --background-color: #282a36;
    --card-background-color: #44475a;
    --header-background-color: #0d1117;
    --text-color: #f8f8f2;
    --menu-hover-color: #3a3c4e;
    --border-color: #191a21;
    --profile-image-border: #6272a4;
    --button-text-color: #282a36;
    --link-hover-color: #f1fa8c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--border-color);
}

a {
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
}

a:hover {
	color: var(--link-hover-color);
}

.bg-primary {
	background-color: var(--background-color);
}

.text-primary {
	color: var(--button-text-color);
}

/* Left Navbar Adjustments */
.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--text-color); /* Adjust text color for better contrast */
}

.nav-link:hover, .nav-link.active {
  background-color: var(--primary-color);
}

/* Add before .nav-link for icons */
.nav-icon {
  margin-right: 8px; /* Provides spacing between icon and text */
}

.profile-image {
  border-radius: 50%; /* Circular frame */
  border: 2px solid var(--profile-image-border); /* Adjusted border color */
  padding: 2px; /* Space between image and border */
  width: 40px;
  height: 40px;
}

.card {
	background-color: var(--card-background-color);
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* A bolder shadow for depth in dark mode */
}

.card-header {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--text-color);
}

.card-link {
	color: var(--primary-color);
}

.card-link:hover {
	color: var(--secondary-color);
}

.action-button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-button:hover {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

@media (max-width: 640px) {
    .sidebar {
        display: none;
    }
}
