
{% extends 'base_app.html' %}

{% block head %}
    {{super()}}
    <script>
        function copyToClipboard() {
            // Create a new textarea element and give it the JSON as content
            const el = document.createElement('textarea');
            el.value = document.getElementById("openapi-spec").innerText;
            document.body.appendChild(el);

            // Select the content and copy it to the clipboard
            el.select();
            document.execCommand('copy');

            // Remove the temporary textarea
            document.body.removeChild(el);

            $('.copy-notification').fadeIn(400).delay(2000).fadeOut(400);
            // Optional: Show a tooltip or message that the content was copied!
        }

    </script>

{% endblock%}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
        <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
                <h2 class="text-2xl font-semibold mb-4">Action Set Name
                <i class="fas fa-edit"></i>
                </h2>
                <!-- Available Actions -->
                <div class="mb-6">
                        <h3 class="text-lg font-semibold mb-2">Available APIs</h3>
            <ul>
              {%for action in actions%}
              <li>
                  <i class="fas fa-trash mr-4"></i>
                  {{action}}
              </li>
              {%endfor%}
            </ul>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Link API</button>
                </div>

    <div class="mb-6 relative">
      <h3 class="text-lg font-semibold mb-2">OpenAPI Specification</h3>
      <div class="relative w-2/3">
        <button onclick="copyToClipboard()" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
          <i class="far fa-copy"></i> <!-- This is your Font Awesome Copy Icon -->
        </button>

        <pre class="bg-gray-100 p-4 rounded max-h-64 overflow-y-auto"><code id='openapi-spec'>{
    "openapi": "3.1.0",
    "info": {
        "title": "Sample API",
        "version": "0.1.0"
    },
    "paths": {
        "/path": {
            "get": {
                "summary": "Your GET endpoint",
                "responses": {
                    "200": {
                        "description": "A successful response."
                    }
                }
            }
        }
    }
}</code></pre>
                </div>

                <!-- Authentication Key -->
                <div class="mb-6">
                        <h3 class="text-lg font-semibold mb-2">Authentication</h3>
                        <table>
                          <tr><th>Type</th><th>Value</th></tr>
                          {%for auth in auths%}
                            <tr><td>{{auth["type"]}}</td><td>{{auth["value"]}}</td></tr>
                          {%endfor%}
                          </table>

                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Create API Key</button>
                </div>

                <div class="mb-6">
                        <h3 class="text-lg font-semibold mb-2">Privacy Policy</h3>
                        <input type="text" readonly value="https://gptactionhub.com/privacy_policy/ah323..." class="w-full"/>
                </div>

        </div>
</div>
{% endblock %}
