{% extends 'base_app.html' %}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6 grid max-w-3xl">
        <h2 class="text-2xl font-semibold mb-4">Create API</h2>
        <form action="/apis/new" method="get">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-md font-bold mb-2">Name</label>
                <input type="text" id="name" name="name" placeholder="latex2pdf" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-8">
                <label for="url" class="block text-gray-700 text-md font-bold mb-2">URL</label>
                <div class="flex items-center mb-2">
                    <select id="param0" name="method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="GET">GET</option>
                        <option value="POST" selected>POST</option>
                        <option value="PUT">PUT</option>
                        <option value="PATCH">PATCH</option>
                        <option value="DELETE">DELETE</option>
                    </select>
                    <div class="flex-grow">
                        <input type="text" id="url" name="url" placeholder="https://..." class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="actionSetName" class="block text-gray-700 text-sm font-bold mb-2">Short Description - One line and poignant</label>
                <input type="text" id="url" name="url" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Convert latex to pdf documents">
            </div>
            <div class="mb-4">
                <label for="actionSetName" class="block text-gray-700 text-sm font-bold mb-2">Usage (markdown)</label>
                <textarea class="shadow appearance-none w-full border rounded text-gray-700 focus:outline-none focus:shadow-outline" placeholder="# Let your GPTs create pdfs!"></textarea>
            </div>
            <div class="mb-4">
              <label for="params" class="block text-gray-700 text-lg font-semibold mb-2">
                    GPT Options<a href="#" class="text-blue-600 text-sm ml-1">(?)</a>
              </label>

              <div class="flex items-center mb-2">
                  <i class="fas fa-trash mr-4 ml-4"></i>
                  <select id="param0" name="method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-4">
                      <option value="GET">Integer</option>
                      <option value="GET">Float</option>
                      <option value="POST" selected>String</option>
                  </select>
                  <div class="flex-grow">
                      <input type="text" id="param0-input" name="param0-input" placeholder="latex" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>
              </div>
              <div class="flex justify-end">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <i class="fas fa-plus"></i> GPT Parameter
              </button>
              </div>
            </div>
            <div class="mb-8">
              <label for="params" class="block text-gray-700 text-lg font-semibold mb-2">
                  Action Configuration<a href="#" class="text-blue-600 text-sm ml-1">(?)</a>
              </label>
              <div class="flex items-center mb-2">
                  <i class="fas fa-trash mr-4 ml-4"></i>
                  <select id="pparam0" name="method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-4">
                      <option value="GET">Integer</option>
                      <option value="GET">Float</option>
                      <option value="POST">String</option>
                      <option value="POST" selected>Credential</option>
                  </select>
                  <div class="flex-grow">
                      <input type="text" id="pparam0-input" name="param0-input" placeholder="API_KEY" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>
              </div>
              <div class="flex-grow">
                <label for="params" class="block text-gray-700 text-sm font-semibold mb-2">
                Description (markdown)
                </label>
                <textarea class="shadow appearance-none w-full border rounded text-gray-700 focus:outline-none focus:shadow-outline" placeholder="Your API Key given from the [latex2pdf user settings](https://....)"></textarea>
              </div>
              <div class="flex justify-end">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  <i class="fas fa-plus"></i> Action Option
              </button>
              </div>
            </div>
 
            <div class="mb-4">
                <label for="actionSetName" class="block text-gray-700 text-sm font-bold mb-2">Privacy Policy (text)</label>
                <textarea class="shadow appearance-none w-full border rounded text-gray-700 focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <!-- Button to Add New Action -->
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Test API
            </button>
            <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Create API
            </button>
        </form>
    </div>
</div>

{% endblock %}
