{% extends 'base_app.html' %}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6 grid max-w-3xl">
        <form action="/apis/new" method="get">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-xl font-bold mb-2">pdf2latex <i class="fas fa-edit"></i></label>
            </div>
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-md font-bold mb-2">Default Function Name</label>
                <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">create_pdf_from_latex</p>
            </div>
            <div class="mb-8">
                <label for="url" class="block text-gray-700 text-md font-bold mb-2">URL </label>
                <div class="flex items-center mb-2">
                    <select id="param0" disabled="" name="method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline disabled">
                        <option value="GET">GET</option>
                        <option value="POST" selected>POST</option>
                        <option value="PUT">PUT</option>
                        <option value="PATCH">PATCH</option>
                        <option value="DELETE">DELETE</option>
                    </select>
                    <div class="flex-grow">
                        <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">https://...</p>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <label for="actionSetName" class="block text-gray-700 text-md font-bold mb-2">Short Description </label>
                <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">Create PDFs from Latex!</p>
            </div>
            <div class="mb-8">
              <label for="params" class="block text-gray-700 text-lg font-semibold mb-2">
                  Parameters 
              </label>
              <div class="flex items-center mb-2 border-t pt-4">
                  <select id="param0" disabled="" name="method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline disabled">
                      <option value="GET">Integer</option>
                      <option value="GET">Float</option>
                      <option value="POST">String</option>
                      <option value="POST" selected>Credential</option>
                  </select>
                  <div class="flex-grow">
                      <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">API_KEY</p>
                  </div>
              </div>
              <div class="flex items-center mb-2 border-t pt-4">
                  <select id="param0" disabled="" name="method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline disabled">
                      <option value="GET">Integer</option>
                      <option value="GET">Float</option>
                      <option value="POST" selected>String</option>
                      <option value="POST">Credential</option>
                  </select>
                  <div class="flex-grow">
                      <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">latex</p>
                  </div>
              </div>
            </div>
 
            <div class="mb-4">
                <label for="actionSetName" class="block text-gray-700 text-sm font-bold mb-2">Privacy Policy</label>
                <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">...</p>
            </div>
            <!-- Button to Add New Action -->
              <div class="flex items-center mb-2 border-t pt-4">
                  <select id="pparam0" name="method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-4">
                      <option value="GET">Private</option>
                      <option value="POST" selected>Public</option>
                      <option value="GET">Deprecated</option>
                  </select>
                  <div class="flex-grow">
                      <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                          Change Visibility
                      </button>
                  </div>
              </div>
        </form>
    </div>
</div>

{% endblock %}
