{% extends 'base_app.html' %}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6 mb-6 max-w-3xl">
        <h2 class="text-2xl font-semibold mb-4">API Details</h2>
        <h3 class="text-lg font-semibold mb-2">Name</h3>
        <p>API Name</p>

        <h3 class="text-lg font-semibold mb-2">Method</h3>
        <p>GET</p>

        <h3 class="text-lg font-semibold mb-2">URL</h3>
        <p>url</p>
        <h3 class="text-lg font-semibold mb-2">Privacy Policy</h3>
        <p>privacy policy</p>


        <!-- Button to Add New Action -->
        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Test API
        </button>
        <p><b>api.gptactionhub.com/UUID</b> endpoint will passthrough to your API with the header X-API-Proxy-Service: GPTActionHub</p>
    </div>
</div>

{% endblock %}
