{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block body %}
    <body class="bg-primary text-primary">
        <header class="flex justify-between items-center p-6 border-b py-3">
            <div>
                <a href="/dashboard" class="text-xl font-semibold text-gray-300">GPTActionHub</a>
            </div>
            <div class="relative">
                <img src="/static/profile.webp" alt="Profile" class="profile-image">
            </div>
        </header>

        <div class="flex h-screen">
            <!-- Left Sidebar -->
            <div class="bg-card-background-color w-64 p-6 hidden sm:block">
                <nav>
                    <a href="/dashboard" class="nav-link">
                      <i class="fas fa-plus-square nav-icon"></i>
                      My GPTs
                    </a>
                    <a href="/action-set/new" class="nav-link">
                      <i class="fas fa-plus-square nav-icon"></i>
                      Create GPT
                    </a>
                    <a href="/action-set/new" class="nav-link">
                      <i class="fas fa-plus-square nav-icon"></i>
                      Add Action
                    </a>

                </nav>
            </div>

            <!-- Main content -->
            <div class="flex-1 flex flex-col overflow-hidden main-content">
              {%block maincontent%}
              {%endblock%}
            </div>
        </div>
    </body>
{% endblock %}
