{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block body %}
    <body class="bg-primary text-primary">
        <header class="flex justify-between items-center p-6 border-b py-3">
            <div>
                <a href="/dashboard" class="text-xl font-semibold text-gray-300">GPTActionHub</a>
            </div>
            <div class="relative">
                <img src="/static/profile.webp" alt="Profile" class="profile-image hover-trigger">
                <div class="dropdown-menu hidden absolute right-0 py-2 w-48 bg-white rounded-lg shadow-xl">
                    <a href="/" class="block px-4 py-2 text-gray-300">Logout</a>
                </div>
            </div>
        </header>
        <div class="flex h-full">
            <!-- Left Sidebar -->
            <div class="bg-card-background-color w-64 p-6 hidden sm:block">
                <nav>
                    <a href="/dashboard" class="nav-link">
                      <i class="fas fa-bolt nav-icon"></i>
                      My Actions
                    </a>
                    <a href="/action-set/new" class="nav-link">
                      <i class="fas fa-plus-square nav-icon"></i>
                      New Actions
                    </a>
                    <a href="/discover-apis" class="nav-link">
                      <i class="fas fa-search nav-icon"></i>
                      Discover APIs
                    </a>
                    <a href="/apis" class="nav-link">
                      <i class="fas fa-project-diagram nav-icon"></i>
                      My APIs
                    </a>
                    <a href="/apis/new" class="nav-link">
                      <i class="fas fa-plus-circle nav-icon"></i>
                      New API
                    </a>

                </nav>
            </div>

            <!-- Main content -->
            <div class="flex-1 flex flex-col main-content">
              {%block maincontent%}
              {%endblock%}
            </div>
        </div>
    </body>
{% endblock %}
