{% extends 'base.html' %}

{% block content %}
<div class="text-center px-6 py-12 mb-6 bg-gray-100 border-b">
  <h1 class="text-3xl font-bold mb-2">Hub for GPT Actions</h1>
  
  <p class="text-gray-700 mb-6"><b>GPT creators</b> and <b>API builders</b> meet to create capable and popular GPTs.</p>
    <a href="/signup" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Sign Up Now
    </a>
</div>

<div class="container mx-auto px-6 border-b">
    <div class="flex flex-wrap my-12">
        <div class="w-full md:w-1/2 p-6">
            <h2 class="text-2xl font-bold mb-2">For GPT Creators</h2>
            <p class="text-gray-700 mb-4">Enhance your GPTs by adding capabilities</p>
            <p class="text-gray-700 mb-4">Get inspired from examples</p>
            <p class="text-gray-700 mb-4">Choose from many APIs</p>
            <p class="text-gray-700 mb-4">Microtransactions so <b>API builders</b> succeed when you do.</p>
        </div>
        <div class="w-full md:w-1/2 p-6">
            <h2 class="text-2xl font-bold mb-2">For API Builders</h2>
            <p class="text-gray-700 mb-4">List your APIs on our marketplace</p>
            <p class="text-gray-700 mb-4">Track performance and requests</p>
            <p class="text-gray-700 mb-4">GET / POST endpoints made easy</p>
            <p class="text-gray-700 mb-4">Share examples to inspire <b>GPT Creators</b></p>
        </div>
    </div>
</div>
<div class="container mx-auto px-6 border-b">
    <div class="flex flex-wrap my-12">
        <div class="w-full md:w-1/2 p-6">
            <h2 class="text-2xl font-bold mb-2">Example GPTs</h2>
            <p class="text-gray-700 mb-4">Resume Builder: Built a resume in PDF form</p>
            <p class="text-gray-700 mb-4">Menu Crafter: Craft a printable menu for a restaurant</p>
            <p class="text-gray-700 mb-4">...</p>
        </div>
        <div class="w-full md:w-1/2 p-6">
            <h2 class="text-2xl font-bold mb-2">Example capabilities</h2>
            <p class="text-gray-700 mb-4">Generate PDFs from latex</p>
            <p class="text-gray-700 mb-4">Create audio files with Stablility</p>
            <p class="text-gray-700 mb-4">Print an image to a gift</p>
            <p class="text-gray-700 mb-4">...</p>
        </div>
    </div>
    <!-- More feature sections can be added here -->

    <div class="text-center py-12">
        <h2 class="text-3xl font-bold mb-2">Ready to Dive In?</h2>
        <p class="text-gray-700 mb-6">Join us today and start exploring the endless possibilities.</p>
        <a href="/signup" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Get Started
        </a>
    </div>
</div>
{% endblock %}

