{% extends 'base_app.html' %}

{% block head %}
    {{super()}}
    <style>
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }

        .fade-in {
            animation: fadeIn 0.5s;
        }

        .fade-out {
            animation: fadeOut 2s;
        }
        #copy-notification {
            z-index: 1000;
        }
    </style>

    <script>
      var fadeOutTimeoutId, hideTimeoutId;
      function copyToClipboard(event, text) {
        clearTimeout(fadeOutTimeoutId);
        clearTimeout(hideTimeoutId);
        // Create a new textarea element and give it the JSON as content
        const el = document.createElement('textarea');
        el.value = text;
        document.body.appendChild(el);

        // Select the content and copy it to the clipboard
        el.select();
        document.execCommand('copy');

        // Remove the temporary textarea
        document.body.removeChild(el);

        var notification = document.getElementById("copy-notification");
        var x = event.clientX;
        var y = event.clientY;

        // Set the location of the notification
        notification.style.left = x + 'px';
        notification.style.top = y + 'px';

        // Reset the animation
        notification.classList.remove("fade-in", "fade-out");
        void notification.offsetWidth;

        // Show the notification
        notification.classList.add("fade-in");
        notification.style.display = "block";

        // Schedule the fade-out and hide animations
        fadeOutTimeoutId = setTimeout(function() {
          notification.classList.add("fade-out");
          hideTimeoutId = setTimeout(function() {
            notification.style.display = "none";
            notification.classList.remove("fade-out");
          }, 2000); // same as fade-out animation duration
        }, 1000); // display time before fade-out

      }

      function toggleApiKey() {
        document.querySelectorAll('.toggle-apikey').forEach(element => {
          element.classList.toggle('hidden');
        });
      }
    </script>

    {% endblock%}

    {% block maincontent %}
    <div class="container mx-auto px-6 py-8">
      <div class="bg-white shadow-lg rounded-lg p-6 mb-6 max-w-3xl">
        <h2 class="text-2xl font-semibold mb-4 toggle-edit">{{actions.name}}
          <i class="fas fa-edit cursor-pointer" hx-get="{{url_for("actions.edit_redirect", id=actions._id)}}"></i>
        </h2>
        <div id="copy-notification" class="absolute bg-white border border-gray-300 rounded p-2" style="display: none;">Copied!</div>
        <div class="mb-6">
          <!-- Available Actions -->
          <h3 class="text-lg font-semibold">Available APIs
            </h3>

            {% for api, api_link in apis | zip(actions.api_links) %}
              <div class="flex flex-col space-y-4 api-link mb-4">
                <!-- API Configuration Entry -->
                <div class="p-4 bg-white shadow rounded-lg">
                  <div>
                    <div class="font-semibold text-gray-700 mb-1">API: {{api.title}}
                    </div>
                    {% for api_path, api_link_path in api.paths | zip(api_link.paths) %}
                      <div class="flex items-center mb-2">
                        <div class="w-1/3 text-gray-500">{{api_path.method}}</div>
                        <label class="form-input w-2/3 border-gray-300">{{api_link_path.operation_id}}</label>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- More API Configuration Entries... -->
              </div>
            {% endfor %}
            <form action="{{url_for("actions.api_link", id=actions._id)}}" method="GET">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Add API</button>
                </form>
            </div>

            <!-- Authentication Key -->
            <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-2">Authentication</h3>
                      {% for auth in auths %}
                          <div class="grid grid-cols-2 w-full">
                              <span class="p-4">{{auth["auth_type"]}}</span>
                              <span class="rounded-lg bg-gray-200 p-4 toggle-apikey font-mono">{{auth.value_encoded}}
                                <i class="far fa-eye ml-4 cursor-pointer" onclick="toggleApiKey()"></i>
                                <i class="ml-4 far fa-copy cursor-pointer" onclick="copyToClipboard(event, '{{auth.value}}')"></i>
                              </span>
                              <span class="rounded-lg bg-gray-200 p-4 hidden toggle-apikey font-mono">{{auth.value}}
                                <i class="far fa-eye ml-4 cursor-pointer" onclick="toggleApiKey()"></i>
                                <i class="ml-4 far fa-copy cursor-pointer" onclick="copyToClipboard(event, '{{auth.value}}')"></i></span>
                          </div>
                      {% endfor %}
            </div>

    <div class="mb-6 relative">
        <h3 class="text-lg font-semibold mb-2">OpenAPI Specification URL
          <button onclick="toggleModal('{{ url_for('public.setup_instructions')}}')" class="text-blue-500 font-bold py-2 rounded text-s">
            ?
          </button>
        </h3>

        <div class="relative w-full">
            <input type="text" readonly value="https://gptactionhub.com/openapi/{{actions._id}}.json" class='w-full p-4 border rounded-lg font-mono'/>
            <button class="absolute top-4 right-2 text-gray-500 hover:text-gray-700">
                <i class="far fa-copy" onclick="copyToClipboard(event, 'https://gptactionhub.com/openapi/{{actions._id}}.json')"></i>
            </button>
        </div>
        <div class="mb-6">
            <h3 class="text-lg font-semibold mt-4">Privacy Policy</h3>
            <div class="relative w-full">
                <input type="text" readonly value="https://gptactionhub.com/privacy_policy/{{actions._id}}" class='w-full p-4 border rounded-lg font-mono'/>
                <button class="absolute top-4 right-2 text-gray-500 hover:text-gray-700">
                  <i class="far fa-copy" onclick="copyToClipboard(event, 'https://gptactionhub.com/privacy_policy/{{actions._id}}')"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="mb-6 relative border-t">
      <h3 class="text-lg font-semibold mt-4 mb-4">Fixie.ai Tools <a target="_blank" class="text-blue-500 font-bold py-2 rounded text-s" href='https://docs.ai-jsx.com/tutorials/sidekickTutorial/part4-tools'>?</a></h3>
        <div class="relative w-full">
            <input type="text" readonly value="https://gptactionhub.com/fixie_ai/{{actions._id}}.js" class='w-full p-4 border rounded-lg font-mono'/>
            <button class="absolute top-4 right-2 text-gray-500 hover:text-gray-700">
                <i class="far fa-copy" onclick="copyToClipboard(event, 'https://gptactionhub.com/fixie_ai/{{actions._id}}.js')"></i>
            </button>
        </div>
    </div>

    <div class="mb-6 relative">
        <form hx-delete="{{url_for('actions.delete', id=actions._id)}}" hx-confirm="Are you sure? This cannot be undone." class="mt-4">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Delete</button>
        </form>
    </div>

</div>
{% endblock %}
