{% extends 'base_app.html' %}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-semibold mb-4">Action Usage: {{actions.name}}</h2>

        <!-- Tabs for Stats and Logs -->
        <ul class="flex border-b">
            <li class="mr-1">
                <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#logs">Logs</a>
            </li>
        </ul>

        {{ macros.list_logs(logs) }}
        {{ macros.paginate(page, limit, total_count) }}
    </div>
</div>
{% endblock %}

