{% extends 'base_app.html' %}

{% block head %}
    {{super()}}
    <script>
        function copyToClipboard() {
            // Create a new textarea element and give it the JSON as content
            const el = document.createElement('textarea');
            el.value = document.getElementById("openapi-spec").innerText;
            document.body.appendChild(el);

            // Select the content and copy it to the clipboard
            el.select();
            document.execCommand('copy');

            // Remove the temporary textarea
            document.body.removeChild(el);

            $('.copy-notification').fadeIn(400).delay(2000).fadeOut(400); // Optional: Show a tooltip or message that the content was copied!
        }

        function toggleApiKey() {
          document.querySelectorAll('.toggle-apikey').forEach(element => {
            element.classList.toggle('hidden');
          });
        }

        function toggleEdit() {
          document.querySelectorAll('.toggle-edit').forEach(element => {
            element.classList.toggle('hidden');
          });
        }
    </script>

{% endblock%}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
        <div class="bg-white shadow-lg rounded-lg p-6 mb-6 max-w-3xl">
            <h2 class="text-2xl font-semibold mb-4 toggle-edit">{{actions.name}}
                <i class="fas fa-edit cursor-pointer" onclick="toggleEdit()"></i>
            </h2>
            <div class="toggle-edit hidden">
                <form action="{{url_for("actions.update", id=actions._id)}}" method="POST">
                    <input type="text" name="name" class="p-2" value="{{actions.name}}"/>
                    <button type="submit">Save</button>
                </form>
            </div>
            <!-- Available Actions -->
            <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2">Available APIs</h3>
            <ul>
              {% for api in actions.api_links %}
              <li>
                  {{api}}
                  <i class="fas fa-edit ml-2"></i>
                  <i class="fas fa-trash ml-2"></i>
              </li>
              {% endfor %}
            </ul>
            <form action="{{url_for("actions.api_link", id=actions._id)}}" method="GET">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Link API</button>
                </form>
            </div>

            <!-- Authentication Key -->
            <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-2">Authentication</h3>
                      {% for auth in actions.auths %}
                          <div class="grid grid-cols-2 w-full">
                              <span class="p-4">{{auth["auth_type"]}}</span>
                              <span class="rounded-lg bg-gray-200 p-4 toggle-apikey font-mono">{{auth.value_encoded}}
                                <i class="far fa-eye ml-4 cursor-pointer" onclick="toggleApiKey()"></i>
                                <i class="ml-4 far fa-copy cursor-pointer"></i>
                              </span>
                              <span class="rounded-lg bg-gray-200 p-4 hidden toggle-apikey font-mono">{{auth.value}}
                                <i class="far fa-eye ml-4 cursor-pointer" onclick="toggleApiKey()"></i>
                                <i class="ml-4 far fa-copy cursor-pointer"></i></span>
                          </div>
                      {% endfor %}
            </div>

    <div class="mb-6 relative">
        <h3 class="text-lg font-semibold mb-2">OpenAPI Specification URL</h3>
        <div class="relative w-full">
            <input type="text" readonly value="https://gptactionhub.com/openapi/ah323..." class='w-full p-4 border rounded-lg font-mono'/>
            <button class="absolute top-4 right-2 text-gray-500 hover:text-gray-700">
                <i class="far fa-copy"></i>
            </button>
        </div>
        <div class="mb-6">
            <h3 class="text-lg font-semibold mt-4">Privacy Policy</h3>
            <div class="relative w-full">
                <input type="text" readonly value="https://gptactionhub.com/privacy_policy/ah323..." class='w-full p-4 border rounded-lg font-mono'/>
                <button class="absolute top-4 right-2 text-gray-500 hover:text-gray-700">
                    <i class="far fa-copy"></i>
              </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
