<div class="container mx-auto px-6 py-8 bg-gray-50">
    <form class="space-y-4 bg-white shadow-sm rounded-lg p-4" action="{{url_for("actions.api_link_add", id=actions._id, api_id=api._id)}}" method="POST">
        <div>
            <h2 class="block font-medium text-gray-700">{{api.name}}</h2>
        </div>
        <div>
          <label for="action_name" class="block text-sm font-medium text-gray-700">Action Name</label>
          <input type="text" name="action_name" class="border border-gray-300 rounded-md p-2" value="{{api.operation_id}}"/>
        </div>
        {% for param in api.params %}
            <div>
                <label for="{{param[1]}}" class="block text-sm font-medium text-gray-700">{{param[1]}}</label>
                <div class="grid gap-4 md:grid-cols-2">
                    {% if param[0] == 'credential' %}
                        <div class="flex gap-2 items-center">
                            <input type="hidden" name="params[{{loop.index0}}][type]" value="credential"/>
                            <input type="hidden" name="params[{{loop.index0}}][name]" value="{{param[1]}}"/>
                            <input id="params[{{loop.index0}}][value]" name="params[{{loop.index0}}][value]" type='password' class='mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 border p-2'/>
                        </div>
                    {% elif param[0] == 'string' %}
                        <select id="params[{{ loop.index0 }}][type]" name="params[{{ loop.index0 }}][type]" hx-get="/api/options?index={{loop.index0}}" hx-trigger="change" hx-target="#{{param[1]}}_options" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 border p-2">
                            <option value="gpt">Set by GPT</option>
                            <option value="constant">Constant value</option>
                        </select>
                        <input type="hidden" name="params[{{ loop.index0 }}][name]" value="{{ param[1] }}"/>
                        <div id="{{param[1]}}_options" class="mt-1"></div>
                    {% else %}
                        <div class="text-sm text-red-500">{{param[0]}} not supported</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="justify-between items-center">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                Save
            </button>
        </div>
    </form>
</div>
