{% extends 'base_app.html' %}

{% block head %}
    {{super()}}
    <style>
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }

        .fade-in {
            animation: fadeIn 0.5s;
        }

        .fade-out {
            animation: fadeOut 2s;
        }
        #copy-notification {
            z-index: 1000;
        }
    </style>

    <script>
        var fadeOutTimeoutId, hideTimeoutId;
        function copyToClipboard(event, text) {
            clearTimeout(fadeOutTimeoutId);
            clearTimeout(hideTimeoutId);
            // Create a new textarea element and give it the JSON as content
            const el = document.createElement('textarea');
            el.value = text;
            document.body.appendChild(el);

            // Select the content and copy it to the clipboard
            el.select();
            document.execCommand('copy');

            // Remove the temporary textarea
            document.body.removeChild(el);

            var notification = document.getElementById("copy-notification");
            var x = event.clientX;
            var y = event.clientY;

            // Set the location of the notification
            notification.style.left = x + 'px';
            notification.style.top = y + 'px';

            // Reset the animation
            notification.classList.remove("fade-in", "fade-out");
            void notification.offsetWidth;

            // Show the notification
            notification.classList.add("fade-in");
            notification.style.display = "block";

            // Schedule the fade-out and hide animations
            fadeOutTimeoutId = setTimeout(function() {
                notification.classList.add("fade-out");
                hideTimeoutId = setTimeout(function() {
                    notification.style.display = "none";
                    notification.classList.remove("fade-out");
                }, 2000); // same as fade-out animation duration
            }, 1000); // display time before fade-out

        }

        function toggleApiKey() {
          document.querySelectorAll('.toggle-apikey').forEach(element => {
            element.classList.toggle('hidden');
          });
        }

        function toggleEdit() {
          document.querySelectorAll('.toggle-edit').forEach(element => {
            element.classList.toggle('hidden');
          });
        }
    </script>

{% endblock%}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
        <div class="bg-white shadow-lg rounded-lg p-6 mb-6 max-w-3xl">
            <h2 class="text-2xl font-semibold mb-4 toggle-edit">{{actions.name}}
                <i class="fas fa-edit cursor-pointer" onclick="toggleEdit()"></i>
            </h2>
            <div class="toggle-edit hidden">
                <form action="{{url_for("actions.update", id=actions._id)}}" method="POST">
                    <input type="text" name="name" class="p-2" value="{{actions.name}}"/>
                    <button type="submit">Save</button>
                </form>
            </div>
            <!-- Available Actions -->
            <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2">Available APIs</h3>
            <ul>
              {% for api, api_link in apis | zip(actions.api_links) %}
              <li class="api_link">
                  {{api.method}}
                  {{api_link.action_name}}
                  <!--<i class="fas fa-edit ml-2 cursor-pointer" hx-get="{{url_for("actions.api_link_edit_clicked", id=actions.id, api_link_id=loop.index0)}}"></i>-->
                  <i class="fas fa-trash ml-2 cursor-pointer" hx-swap="outerHTML" hx-delete="{{url_for("actions.api_link_delete", id=actions.id, api_link_id=loop.index0)}}" hx-target="closest .api_link"></i>
              </li>
              {% endfor %}
            </ul>
            <form action="{{url_for("actions.api_link", id=actions._id)}}" method="GET">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Link API</button>
                </form>
            </div>
            <div id="copy-notification" class="absolute bg-white border border-gray-300 rounded p-2" style="display: none;">Copied!</div>

            <!-- Authentication Key -->
            <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-2">Authentication</h3>
                      {% for auth in auths %}
                          <div class="grid grid-cols-2 w-full">
                              <span class="p-4">{{auth["auth_type"]}}</span>
                              <span class="rounded-lg bg-gray-200 p-4 toggle-apikey font-mono">{{auth.value_encoded}}
                                <i class="far fa-eye ml-4 cursor-pointer" onclick="toggleApiKey()"></i>
                                <i class="ml-4 far fa-copy cursor-pointer" onclick="copyToClipboard(event, '{{auth.value}}')"></i>
                              </span>
                              <span class="rounded-lg bg-gray-200 p-4 hidden toggle-apikey font-mono">{{auth.value}}
                                <i class="far fa-eye ml-4 cursor-pointer" onclick="toggleApiKey()"></i>
                                <i class="ml-4 far fa-copy cursor-pointer" onclick="copyToClipboard(event, '{{auth.value}}')"></i></span>
                          </div>
                      {% endfor %}
            </div>

    <div class="mb-6 relative">
        <h3 class="text-lg font-semibold mb-2">OpenAPI Specification URL</h3>
        <div class="relative w-full">
            <input type="text" readonly value="https://gptactionhub.com/openapi/{{actions._id}}.json" class='w-full p-4 border rounded-lg font-mono'/>
            <button class="absolute top-4 right-2 text-gray-500 hover:text-gray-700">
                <i class="far fa-copy" onclick="copyToClipboard(event, 'https://gptactionhub.com/openapi/{{actions._id}}.json')"></i>
            </button>
        </div>
        <div class="mb-6">
            <h3 class="text-lg font-semibold mt-4">Privacy Policy</h3>
            <div class="relative w-full">
                <input type="text" readonly value="https://gptactionhub.com/privacy_policy/ah323..." class='w-full p-4 border rounded-lg font-mono'/>
                <button class="absolute top-4 right-2 text-gray-500 hover:text-gray-700">
                    <i class="far fa-copy" onclick="copyToClipboard(event, 'https://gptactionhub.com/openapi/ah323...')"></i>
              </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
