{% extends 'base_app.html' %}

{% block maincontent %}
<div class="container mx-auto px-6 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6 grid max-w-3xl">
        <div class="mb-4">
            <label for="title" class="block text-gray-700 text-xl font-bold mb-2">{{api["title"]}} <a href='/apis/{{api["_id"]}}/edit' <i class="fas fa-edit"></i></a></label>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-md font-bold mb-2">Short Description </label>
            <p class="shadow-b appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{api["description"]}}</p>
        </div>
        {% for path in api['paths'] %}
            <div class="mb-4">
                <label for="operation_id" class="block text-gray-700 text-md font-bold mb-2">Operation ID</label>
                <p class="shadow-b appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{path["operation_id"]}}</p>
            </div>
            <div class="mb-8">
                <label for="url" class="block text-gray-700 text-md font-bold mb-2">URL </label>
                <div class="flex items-center mb-2">
                    <select id="method" disabled="" class="shadow-b border-b rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline disabled">
                        <option selected>{{path["method"]}}</option>
                    </select>
                    <div class="flex-grow">
                        <p class="shadow-b appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{path["url"]}}</p>
                    </div>
                </div>
            </div>
            <div class="mb-8">
                <label for="params" class="block text-gray-700 text-lg font-semibold mb-2">
                    Parameters
                </label>
                {% for param in path['params'] %}
                <div class="flex items-center mb-2 pt-4">
                    <select id="param{{ loop.index0 }}" disabled="" name="method" class="shadow-b border-b rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline disabled">
                        <option value="Integer" {% if param["type"] == "integer" %}selected{% endif %}>Integer</option>
                        <option value="Float" {% if param["type"] == "float" %}selected{% endif %}>Float</option>
                        <option value="String" {% if param["type"] == "string" %}selected{% endif %}>String</option>
                        <option value="Credential" {% if param["type"] == "credential" %}selected{% endif %}>Credential</option>
                    </select>
                    <div class="flex-grow">
                        <p class="shadow-b appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{ param["name"] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Privacy Policy</label>
            <p class="shadow-b appearance-none border-b rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{api['privacy_policy']}}<p>
        </div>
        {% if 'visibility' not in api or api['visibility'] == "private" %}
        <form action="/apis/{{api["_id"]}}/publish" method="post">
            <!-- Button to Add New Action -->
            <div class="flex items-center mb-2 pt-4">
                <span class="text-gray-800 font-semibold mr-2 rounded dark:bg-blue-200 dark:text-blue-900">Private API</span>
                <div class="flex-grow">
                    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        Publish
                    </button>
                </div>
            </div>
        </form>
        {% else %}
        <form action="/apis/{{api["_id"]}}/unpublish" method="post">
            <!-- Button to Add New Action -->
            <div class="flex items-center mb-2 pt-4">
                <span class="text-green-800 font-semibold mr-2 rounded dark:bg-green-200 dark:text-green-900">Public API</span>
                <div class="flex-grow">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Unpublish
                    </button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
