{% extends 'base_app.html' %}

{% block maincontent %}
<script>
function warnOnParameterChange() {
    document.getElementById("changeWarning").style.display='block';
}
document.addEventListener('DOMContentLoaded', function () {
    const paramsContainer = document.getElementById('paramsContainer'); // ID of the div containing the rows
    const addButton = document.getElementById('addParamButton'); // ID of the 'Add Parameter' button

    // Function to update indexes
    function updateIndexes() {
        const allRows = paramsContainer.querySelectorAll('.param-row');
        allRows.forEach((row, index) => {
            row.querySelector('select').id = `path0_param${index}_type`;
            row.querySelector('select').name = `path0_param${index}_type`;
            row.querySelector('input').id = `path0_param${index}_input`;
            row.querySelector('input').name = `path0_param${index}_input`;
        });
        warnOnParameterChange();
    }

    // Function to add a new row
    function addParam() {
        const newIndex = paramsContainer.querySelectorAll('.param-row').length;
        const newRow = document.createElement('div');
        newRow.classList.add('flex', 'items-center', 'mb-2', 'border-t', 'pt-4', 'param-row');
        newRow.innerHTML = `
          <i class="fas fa-trash text-red-500 hover:text-red-700 mr-4 ml-4 cursor-pointer"></i>
          <select id="path0_param${newIndex}_type" name="path0_param${newIndex}_type" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-4">
              <option value="integer">Integer</option>
              <option value="float">Float</option>
              <option value="string" selected>String</option>
              <option value="credential">Credential</option>
          </select>
          <div class="flex-grow">
              <input type="text" id="path0_param${newIndex}_input" name="path0_param${newIndex}_input" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="parameter">
          </div>
       `;
        const addParamButton = document.getElementById('addParamButton'); // Or use a different selector if your button is identified differently
        paramsContainer.insertBefore(newRow, addParamButton.parentNode);
        updateIndexes(); // Update indexes each time a new row is added
    }

    // Function to delete a row
    function deleteParam(event) {
        if (event.target.classList.contains('fa-trash')) {
            const row = event.target.closest('div');
            paramsContainer.removeChild(row);
            updateIndexes(); // Update indexes after deletion
        }
    }

    // Event listeners
    addButton.addEventListener('click', addParam);
    paramsContainer.addEventListener('click', deleteParam);
});
</script>
<div class="container mx-auto px-6 py-8">
    <div class="bg-white shadow-lg rounded-lg p-6 grid max-w-3xl">
        {% if "_id" in api %}
          <h2 class="text-2xl font-semibold mb-4">Update API</h2>
          <div id='changeWarning' class='p-4 mb-4 bg-yellow-100 border text-yellow-700 border-yellow-500' style='display: none'>Warning: Changing parameters could break existing Actions</div>
        {% else %}
          <h2 class="text-2xl font-semibold mb-4">Create API</h2>
          <div id='changeWarning'></div>
        {% endif %}
        <form {% if "_id" in api %} action="/apis/{{api["_id"]}}/update" {% else %} action="/apis/create" {% endif %} method="POST">
            <div class="mb-4">
                <label for="title" class="block {% if 'title' in errors %} text-red-700 {% else %} text-gray-700 {% endif %} text-md font-bold mb-2">Title</label>
                <input type="text" id="title" name="title" placeholder="latex2pdf" value="{{api['title']}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="description" class="block {% if 'description' in errors %} text-red-700 {% else %} text-gray-700 {% endif %} text-gray-700 text-md font-bold mb-2">Short Description</label>
                <input type="text" id="description" name="description" value="{{api['description']}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Convert latex to pdf documents">
            </div>
            {% for path in api["paths"] %}
            {% set path_index = loop.index0 %}
            {% if "path_id" in path %}
                <input type="hidden" id='path{{path_index}}_path_id' name='path{{path_index}}_path_id' value="{{path["path_id"]}}"/>
            {% else %}
                <input type="hidden" id='path{{path_index}}_path_id' name='path{{path_index}}_path_id' value="{{uuid.uuid4()}}"/>
            {% endif %}
            <div class="mb-4">
                <label for="path{{path_index}}_operation_id" class="block {% if 'path0_operation_id' in errors %} text-red-700 {% else %} text-gray-700 {% endif %} text-md font-bold mb-2">Operation ID</label>
                <input type="text" id="path{{path_index}}_operation_id" name="path{{path_index}}_operation_id" value="{{path['operation_id']}}" placeholder="createPdfFromLatex" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-8">
                <label for="url" class="block {% if 'path0_url' in errors %} text-red-700 {% else %} text-gray-700 {% endif %} text-md font-bold mb-2">URL</label>
                <div class="flex items-center mb-2">
                    <select id="path{{path_index}}_method" name="path{{path_index}}_method" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="GET" {% if path["method"] == "GET" %}selected{% endif %}>GET</option>
                        <option value="POST" {% if path["method"] == "POST" %}selected{% endif %}>POST</option>
                        <option value="PUT" {% if path["method"] == "PUT" %}selected{% endif %}>PUT</option>
                        <option value="PATCH" {% if path["method"] == "PATCH" %}selected{% endif %}>PATCH</option>
                        <option value="DELETE" {% if path["method"] == "DELETE" %}selected{% endif %}>DELETE</option>
                    </select>
                    <div class="flex-grow">
                      <input type="text" id="path{{path_index}}_url" name="path{{path_index}}_url" placeholder="https://..." value="{{path['url']}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                </div>
            </div>
            <div id='paramsContainer' class="mb-8">
                <label for="path{{path_index}}_params" class="block text-gray-700 text-lg font-semibold mb-2">
                    Parameters<!--<a href="#" class="text-blue-600 text-sm ml-1">(?)</a>-->
                </label>
                {% for param in path['params'] %}
                <div class="flex items-center mb-2 border-t pt-4 param-row">
                    <i class="fas fa-trash text-red-500 hover:text-red-700 mr-4 ml-4 cursor-pointer"></i>
                    <select id="path{{path_index}}_param{{ loop.index0 }}_type" name="path{{path_index}}_param{{ loop.index0 }}_type" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-4" onchange="javascript:warnOnParameterChange()">
                        <option value="integer" {% if param["type"] == "integer" %}selected{% endif %}>Integer</option>
                        <option value="float" {% if param["type"] == "float" %}selected{% endif %}>Float</option>
                        <option value="string" {% if param["type"] == "string" %}selected{% endif %}>String</option>
                        <option value="credential" {% if param["type"] == "credential" %}selected{% endif %}>Credential</option>
                    </select>
                    <div class="flex-grow">
                        <input oninput="warnOnParameterChange()" type="text" id="path{{path_index}}_param{{ loop.index0 }}_input" name="path{{path_index}}_param{{ loop.index0 }}_input" placeholder="{{ param["name"] }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="{{ param["name"] }}">
                    </div>
                </div>
                {% endfor %}
                <div class="flex justify-end">
                    <button id="addParamButton" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <i class="fas fa-plus"></i> Parameter
                    </button>
                </div>
            </div>
            {% endfor %}
            <div class="mb-4">
                <label for="privacy_policy" class="block {% if 'privacy_policy' in errors %} text-red-700 {% else %} text-gray-700 {% endif %} text-gray-700 text-sm font-bold mb-2">Privacy Policy</label>
                <textarea name="privacy_policy" id="privacy_policy" class="p-2 shadow appearance-none w-full border rounded text-gray-700 focus:outline-none focus:shadow-outline">{{api['privacy_policy']}}</textarea>
            </div>
            {% if "_id" in api %}
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Update API
                </button>
            {% else %}
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Create Private API
                </button>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
