{% extends 'base_app.html' %}

{% block maincontent %}
<div class="container mx-auto px-6 py-8 bg-gray-200">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for api in apis %}
    <div class="bg-white shadow-lg rounded-lg p-6">
      <div class="mb-2">
        <p class="text-lg font-semibold">
          {{api['title']}}
        </p>
        <p class="text-s text-gray-600 align-bottom items-end">
          {{api['description']}}
        </p>
      </div>
      <div class="flex items-center">
          <div class="flex items-center">
              <i class="fas fa-bolt"></i>
              <span class="ml-2 text-gray-700">{{api_links_count[api._id] or 0}}</span>
          </div>
          <div class="flex items-center ml-4">
            <i class="fas fa-play"></i>
            <span class="ml-2 text-gray-700">{{usage_count[api._id] or 0}}</span>
         </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
