{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles.css">
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
{% endblock %}

{% block body %}
    <body class="bg-primary text-primary h-screen overflow-hidden">
        <header class="flex justify-between items-center p-6 border-b py-3">
            <div>
                <a href="{{url_for("actions.index")}}" class="text-xl font-semibold text-gray-300">GPTActionHub</a>
            </div>
            <div class="relative">
                <div class="flex justify-between items-center cursor-pointer">
                    <span class='text-gray-300 mr-4'>{{current_user.email}}</span>
                    <img src="/static/profile.webp" alt="Profile" class="profile-image hover-trigger">
                </div>
                <div class="dropdown-menu hidden absolute right-0 py-2 w-48 bg-white rounded-lg shadow-xl">
                    <a href="{{url_for("auth.logout")}}" hx-post="{{url_for("auth.logout")}}" class="block px-4 py-2 text-gray-300">Logout</a>
                </div>
            </div>
        </header>
        <div class="flex h-full flex-1">
            <!-- Left Sidebar -->
            <div class="bg-card-background-color w-64 p-6 hidden sm:block">
                <nav>
                    <a href="{{url_for("actions.index")}}" class="nav-link">
                      <i class="fas fa-bolt nav-icon w-5"></i>
                      My Actions
                    </a>
                    <a href="{{url_for("actions.new")}}" class="nav-link">
                      <i class="fas fa-plus-square nav-icon w-5"></i>
                      New Actions
                    </a>
                    <a href="/discover-apis" class="nav-link">
                      <i class="fas fa-search nav-icon w-5"></i>
                      Discover APIs
                    </a>
                    <a href="/apis" class="nav-link">
                      <i class="fas fa-project-diagram nav-icon w-5"></i>
                      My APIs
                    </a>
                    <a href="/apis/new" class="nav-link">
                      <i class="fas fa-plus-circle nav-icon w-5"></i>
                      New API
                    </a>

                </nav>
            </div>

            <!-- Main content -->
            <div class="flex-1 flex flex-col main-content overflow-y-auto">
              <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                  {{macros.flash_alerts()}}
                  {%block maincontent%}
                  {%endblock%}
              </main>
            </div>
        </div>
    </body>
{% endblock %}
