{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTActionHub</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="GPTActionHub">
    <meta property="og:image" content="https://gptactionhub.com/static/share.png">
    <meta property="og:description" content="Add actions for your custom GPTs. Link your APIs for GPT creators to use.">
    <meta property="og:url" content="https://gptactionhub.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="GPTActionHub">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="GPTActionHub">
    <meta name="twitter:description" content="Actions for your custom GPTs">
    <meta name="twitter:image" content="https://gptactionhub.com/static/share.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#2f88b3">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#2f88b3">
    <!--<meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">-->
    {% block head %}{% endblock %}
</head>
{% block body %}
    <body class="bg-gray-100">
        {% block topnav %}
            <nav class="bg-white px-6 py-3 shadow">
                <div class="flex justify-between">
                    <div>
                        <a href="/" class="text-xl font-semibold text-gray-700">GPTActionHub</a>
                    </div>
                    <div>
                        <ul class="flex items-center">
                            {% if current_user %}
                                <li><a href="{{url_for("actions.index")}}" class="text-gray-700 hover:text-gray-900 px-3 py-2">Dashboard</a></li>
                            {% else %}
                                <li><a href="/signup" class="text-gray-700 hover:text-gray-900 px-3 py-2">Signup</a></li>
                                <li><a href="/login" class="text-gray-700 hover:text-gray-900 px-3 py-2">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block content %}
            <div class="container mx-auto mt-10">
            </div>
        {% endblock %}
    </body>
{% endblock %}
</html>
