{% macro breadcrumbs(crumbs) %}
<nav aria-label="breadcrumb">
  <ol class="list-reset flex">
    {% for crumb in crumbs %}
      {% if crumb is string %}
        <li class="text-gray-500 mx-2" aria-current="page">{{ crumb }}</li>
      {% else %}
        {% for title, url in crumb.items() %}
          <li>
            <a href="{{ url }}" class="text-blue-600 hover:text-blue-700">{{ title }}</a>
          </li>
          <li><span class="text-gray-500 mx-2">/</span></li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endmacro %}

{% macro flash_alerts() %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes mb-4">
                {% for category, message in messages %}
                    <li class="{{ 'bg-red-100 border border-red-400 text-red-700' if category == 'error' else
                                 'bg-yellow-100 border text-yellow-700 border-yellow-500' if category == 'warning' else
                                 'bg-blue-500' if category == 'info' else
                                 'bg-green-600' }} text-white p-4 shadow-md">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro visibility_tag(api) %}
  {% if api["visibility"] == "public" %}
    <span class="text-xs bg-green-100 text-green-800 font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">Public</span>
  {% else %}
    <span class="text-xs bg-yellow-100 text-yellow-800 font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">Private</span>
  {% endif %}
{% endmacro %}

{% macro paginate(page, limit, total_count) %}
  <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
    {% set total_pages = (total_count / limit) | round(0, 'ceil') %}
    {% set prev_page = page - 1 %}
    {% set next_page = page + 1 %}
    
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ (page - 1) * limit + 1 }}</span>
          to
          <span class="font-medium">{{ page * limit }}</span>
          of
          <span class="font-medium">{{ total_count }}</span>
          results
        </p>
      </div>
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
          {% if page > 1 %}
            <a href="?page=1" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <span>First</span>
            </a>
            <a href="?page={{ prev_page }}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <span>Previous</span>
            </a>
          {% endif %}
          
          {% for i in range(page - 2, page + 3) %}
            {% if i > 0 and i <= total_pages %}
              <a href="?page={{ i }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 {{ 'bg-gray-300' if i == page else '' }}">
                {{ i }}
              </a>
            {% endif %}
          {% endfor %}
          
          {% if page < total_pages %}
            <a href="?page={{ next_page }}" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <span>Next</span>
            </a>
            <a href="?page={{ total_pages | int }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <span>Last</span>
            </a>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
{% endmacro %}

