{% extends 'base.html' %}

{% block content %}
<div class="px-6 py-4 mb-6 bg-gray-100 border-b custom-bg">
	{{macros.breadcrumbs([{"APIS": "/public_apis"}, api.title])}}
	<ul class="py-4">
    {% for path in api.paths %}
      <li>
      Description:{{api.description}}
      </li>
      <li>
      Method: {{path["method"]}}
      </li>
      <li>
      OperationId: {{path["operation_id"]}}
      </li>
      {% for param in path.params %}
        <li>
          Parameter: {{param["name"]}}
          {% if param.description %}
            - {{param.description}}
          {% endif %}
        </li>
      {% endfor %}
    {% endfor %}
  </li>
  <p class="mt-8"><a class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 rounded-lg text-lg" href="{{url_for("actions.index")}}">Add to my custom GPT</a></p>
</div>
{% endblock %}
